.nav-container{
    position: fixed;
    width: 100%;
    line-height: 65px;
    padding: 0 100px 0 25px;
    box-shadow: 0 0 2px 2px #f3f3f3;
    background-color: #ffffff;
    top: 47px;
    z-index: 10;
}